.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

body {
  overflow-x: hidden; /* 수평 스크롤 방지 */
}

.rbc-toolbar-label {
  color: #3C4043;
}

.alert-container {
  position: fixed;
  bottom: 20px;
  z-index: 100;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.input {
  @apply text-[14px] text-gray-600 ml-5 py-1 px-3 w-full h-[30px] bg-gray-100 rounded-sm focus:outline-none focus:border-b-2 focus:border-blue-500;
}


/* 이벤트의 높이를 변경합니다. */
.rbc-event {
  height: 24px; /* 원하는 높이로 설정 */
}

/* 이벤트 제목의 글씨 스타일을 변경합니다. */
.rbc-event .rbc-event-content {
  font-size: 13px;
  font-weight: 500;
  color: white;
}

.rbc-month-row:nth-of-type(2) > .rbc-row-content > .rbc-row > .rbc-row-segment > .event-span-prev {
  clip-path: polygon(10px 0%, 100% 0%, 100% 100%, 10px 100%, 0 50%);
}

.rbc-month-row:last-of-type > .rbc-row-content > .rbc-row > .rbc-row-segment > .event-span-next {
  clip-path: polygon(calc(100% - 10px) 0%, 100% 50%, calc(100% - 10px) 100%, 0% 100%, 0% 0%);
}

.more-event-span-prev {
  clip-path: polygon(10px 0%, 100% 0%, 100% 100%, 10px 100%, 0 50%);
}

.more-event-span-next {
  clip-path: polygon(calc(100% - 10px) 0%, 100% 50%, calc(100% - 10px) 100%, 0% 100%, 0% 0%);
}

.more-event-span-both {
  clip-path: polygon(10px 0%, calc(100% - 10px) 0%, 100% 50%, calc(100% - 10px) 100%, 10px 100%, 0% 50%);
}

.rbc-toolbar .rbc-btn-group:nth-of-type(3) {
  display: none !important;
}

.rbc-day {
  background-color: #e3e300;
  /* border-radius: ; */
}

.sidebar {
  right: -300px; /* 초기 위치 (화면 밖) */
  transition: right 0.3s ease; /* 열고 닫을 때의 애니메이션 */
}

.sidebar.open {
  right: 0; /* 열렸을 때 */
}

.event-hover:hover {
  opacity: 0.8;
}