/* 애니메이션 효과 */
.floating-label {
    transition: all 0.2s ease;
  }

/* 포커스 시 label을 위로 이동시키는 스타일 */
input:focus ~ .floating-label,
input:not(:placeholder-shown) ~ .floating-label {
transform: translateY(-1.5rem);
font-size: 0.75rem;
color: #ed2553; /* 파란색 */
}

