{% load static i18n %}
{% load render_bundle from webpack_loader %}

<!DOCTYPE html>
<html>
    <head>
        <title>SoundPub</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1"> 
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
        <link rel="stylesheet" href="{% static 'calendar/static/css/main.214bf0e8.css' %}"> 
    </head>
    <body>
        <div id="root"></div>
        <script src="{% static 'calendar/static/js/main.5d738880.js' %}"></script>
    </body>
</html>